<%= require('html-loader!../../partials/header.html') %>


<div class="container-fluid">
  <div class="row">

    <%= require('html-loader!../../partials/sidebar.html') %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Buttons</h1>
      </div>
      <a href="#">This is a sample default link</a>
      <h2 id="underlined-link">Link underline</h2>
      <p>Some text in a paragraph, and so <a href="#">the link are underline</a></p>
      <h2 id="o-link-arrow">Link with arrow</h2>
      <a href="#" class="o-link-arrow">This is a sample link with arrow</a>
      <h2 id="o-link-arrow-back">Link with arrow back</h2>
      <a href="#" class="o-link-arrow back">This is a sample link with arrow for backward</a>
    </main>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOMContentLoaded', 'page-index')
  });
</script>
<%= require('html-loader!../../partials/footer.html') %>