<div class="search-ui invisible">
  <input type="search" id="search-str" class="search-str form-control ds-input" aria-autocomplete="list"/>
  <ul class="search-results  list-unstyled"><ul>
</div>
script
  include /search.js