<%= require('html-loader!../../partials/header.html') %>

<div class="container-fluid">
  <div class="row">

    <%= require('html-loader!../../partials/sidebar.html') %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Buttons</h1>
      </div>
      <p class="lead">Indicate the current step within a sequential navigation.</p>

      <h3>Stepbar</h3>
      <nav role="navigation" class="o-stepbar">
        <p class="float-left mt-2 mr-2 font-weight-bold d-sm-none">Step</p>
        <ol>
          <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="1. sign in">Sign in</a>
          </li>
          <li class="stepbar-item current">
            <a class="stepbar-link" href="#" title="2. Review" aria-current="step">Review</a>
          </li>
          <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="3. Delivery">Delivery</a>
          </li>
          <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="4. Payment">Payment</a>
          </li>
          <li class="stepbar-item">
            <a class="stepbar-link" href="#" title="5. Place order">Place order</a>
          </li>
        </ol>
      </nav>

    </main>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOMContentLoaded', 'page-index')
  });
</script>
<%= require('html-loader!../../partials/footer.html') %>