<!DOCTYPE html>
<html>
<head>
  <title>My homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

  <%= require('html-loader!../../partials/nav.html') %>

  <div class="container-fluid">
    <div class="row">

      <%= require('html-loader!../../partials/sidebar.html') %> 
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Buttons</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
              <ul class="o-square-list">
                <li>
                  <span>first</span>
                  <ul>
                    <li>
                      <span>1.1</span>
                      <ul>
                        <li><span>1.1.1</span></li>
                        <li><span>1.1.2</span></li>
                      </ul>
                    </li>
                    <li>
                      <span>1.2</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>second</span>
                </li>
                <li>
                  <span>third</span>
                </li>
                <li>
                  <span>fourth</span>
                </li>
              </ul>
            </div>
          </div><!-- /.container-fluid -->
      </main>
    </div>
  </div>

  <%= require('html-loader!../../partials/footer.html') %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      console.log('DOMContentLoaded', 'page-index')
    });
  </script>
</body>
</html>
